.container {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 15px;
  box-sizing: border-box;
}
.image-container {
  position: relative;
  padding-bottom: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.image-responsive {
  width: 100%;
  height: auto;
}

.m-y-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-y-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-light {
  color: #999;
}
